.App {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.cell {
  background-color: #1d1d1d;
  height: 20vh;
  width: 20vh;
  text-transform: uppercase;
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  align-content: center;
  font-family: 'Courier New';
  border-radius: 5%;
}

.score {
  display: flex;
  padding-top: 2vh;
  font-size: 2vh;
}

.score__label {
  color: white;
}

.score__number {
  padding-left: 0.5vw;
  color: #ff6c00;
}

.winner-alert {
  padding-top: 2vh;
  display: flex;
  height: 7vh;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.winner__id {
  color: #ff6c00;
}

html {
  background-color: #2d2d2d;
}