.App {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    color: white;
    gap: 7px;
}

.simple-main-content-label {
    font-size: 2vh;
}

.room-id {
    width: fit-content;
    height: fit-content;
    border: 0.5px dotted black;
    border-radius: 1vh;
    background-color: #2d2d2d;
    font-size: 2vh;
    color: #ff6c00;
    cursor: pointer;
    transition: 50ms;
}

.room-id:hover {
    color: #1d1d1d;
}

.room-id:active {
    background-color: #ff6c00;
}

.button-small-text {
    font-size: 1.2vh;
    color: white;
}

.main-content {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}

.cell {
    background-color: #1d1d1d;
    max-height: 20vh;
    max-width: 20vh;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    align-content: center;
    font-family: 'Courier New';
    border-radius: 5%;
    transition: 0.2s;
}

.score {
    display: flex;
    padding-top: 2vh;
    font-size: 2vh;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.score__label {
    color: white;
}

.score__number {
    padding-left: 0.5vw;
    color: #ff6c00;
}

.winner-alert {
    padding-top: 2vh;
    display: flex;
    height: 7vh;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.winner__id {
    font-size: 4vh;
    color: #ff6c00;
}

.online-list {
    list-style: none;
}

.online-list_user:first-child {
    font-weight: bold;
    font-size: 2.5vh;
}

.user-list {
    display: flex;
    flex-direction: column;
}

.online-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 0;
    color: rgba(230, 183, 101, 0.81);
}

.online-users-label {
    font-weight: bold;
    color: rgba(255,108,0,0.81);
    padding-top: 4vh;
}

.start-button {
    background-color: #1d1d1d;
    color: white;
    border: none;
    border-radius: 6px;
    height: 5vh;
    width: fit-content;
    font-size: 2vh;
}

.start-button:hover {
    background-color: #3d3d3d;
    cursor: pointer;
}

.start-screen {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.start-screen__button {
    margin-top: 5vh;
    background-color: #1d1d1d;
    color: white;
    border: none;
    border-radius: 9px;
    height: 10vh;
    width: fit-content;
    min-width: 15vw;
    font-size: 5vh;
}

.winning-score-options {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.radio-input__label {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

input[type=radio] {
    border: 1px solid #fff;
    padding: 0.5em;
    -webkit-appearance: none;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

input[type=radio]:checked {
    background: url(data:image/gif;base64,R0lGODlhAQABAPAAAP///////yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==) no-repeat center center;
    background-size: 9px 9px;
}

input[type=radio]:focus {
    outline-color: transparent;
}

.nickname-input {
    background-color: #1d1d1d;
    color: #ff6c00;
    font-size: 20px;
    height: 4vh;
    width: fit-content;
    border: none;
    display: flex;
    border-radius: 6px;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
}

::-webkit-input-placeholder {
    text-align: center;
}

:-ms-input-placeholder {
    text-align: center;
}

.nickname-input::placeholder {
    text-align: center;
}

.start-screen__button:hover {
    background-color: #3d3d3d;
    cursor: pointer;
}

html {
    background-color: #2d2d2d;
}